In [62]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\blueshift\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\blueshift\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [63]:
import pymysql
import pandas as pd

In [64]:
# Abrir uma conexão a um banco de dados
con = pymysql.connect(host='172.31.10.2',user='powerbi',database='itecerp',cursorclass=pymysql.cursors.DictCursor,password='pbi@534')
sql = "SELECT * FROM fin_documento_origem"

In [65]:
df = pd.read_sql(sql,con=con)

C:\Users\BlueShift\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               73 non-null     int64
 1   ID_EMPRESA       73 non-null     int64
 2   CODIGO           73 non-null     object
 3   SIGLA_DOCUMENTO  73 non-null     object
 4   DESCRICAO        73 non-null     object
dtypes: int64(2), object(3)
memory usage: 3.0+ KB

In [67]:
df.DESCRICAO.drop_duplicates()

0                                   Nota Fiscal  1/1A
1                                  Nota Fiscal Avulsa
2                Nota Fiscal de Venda a Consumidor  2
3                               Cupom Fiscal   - ECF IF
4                              Cupom Fiscal   - ECF PDV
                            ...
68                Cupom Fiscal EletrÃ´nico â€“ CF-e-SAT
69                    Cupom Fiscal EletrÃ´nico CF-e-ECF
70             Bilhete de Passagem EletrÃ´nico â€“ BP-e
71    Nota Fiscal EletrÃ´nica para Consumidor Final ...
72     Conhecimento de Transporte EletrÃ´nico - CT-e OS
Name: DESCRICAO, Length: 73, dtype: object

In [68]:
df.loc[df.DESCRICAO =="Cupom Fiscal EletrÃ´nico â€“ CF-e-SAT", "DESCRICAO"] = "Cupom Eletrônico CF-SAT"
df.loc[df.DESCRICAO =="Cupom Fiscal EletrÃ´nico â€“ CF-e-ECF", "DESCRICAO"] = "Cupom Eletrônico  CF-ECF"
df.loc[df.DESCRICAO =="Bilhete de Passagem EletrÃ´nico â€“ BP-e", "DESCRICAO"] = "Bilhete de Passagem  BP"
df.loc[df.DESCRICAO =="Conhecimento de Transporte EletrÃ´nico - CT-e OS", "DESCRICAO"] = "Conhecimento de Transporte Eletrônico CT-OS"
df.loc[df.DESCRICAO =="Nota Fiscal EletrÃ´nica para Consumidor Fina", "DESCRICAO"] = "Nota Fiscal Eletrônica Final"

In [69]:
df

,ID,ID_EMPRESA,CODIGO,SIGLA_DOCUMENTO,DESCRICAO
0,32,1,01,Nf1,Nota Fiscal 1/1A
1,33,1,1B,NfA,Nota Fiscal Avulsa
2,34,1,02,NFVC,Nota Fiscal de Venda a Consumidor 2
3,35,1,2D,CF,Cupom Fiscal - ECF IF
4,36,1,2C,CFPD,Cupom Fiscal - ECF PDV
...,...,...,...,...,...
68,100,1,59,CFESAT,Cupom Eletrônico CF-SAT
69,101,1,60,CFEECF,Cupom Fiscal EletrÃ´nico CF-e-ECF
70,102,1,63,BPE,Bilhete de Passagem BP
71,103,1,65,NFCE,Nota Fiscal EletrÃ´nica para Consumidor Final ...
72,104,1,67,CTEOS,Conhecimento de Transporte Eletrônico CT-OS

In [71]:
df.to_csv("fin_documento_origem.csv")